In [1]:
import numpy as np
import pandas as pd

In [28]:
data = pd.read_excel("C:/Users/USER/정화/실전문제연구단/CRM_ANN 데이터/ANN 재공현황.xlsx")
data.head()

,BUS_CD,COIL_NO,LOT_NO,BASIC_COIL_NO,HOTCOI_NO,MOTCOI_NO,TRK_NO,EMG_CD,AFTEMG_CD,PKG_NO,...,CRT_DT,CRTCHR_NO,UPD_DT,UPDCHR_NO,COILEND_DT,SEMIPKG_YN,SEMIPKG_CD,PKG_CD,LEV2SE_YN,ZON_CD
0,1173DK,07KC1022111A,2007KC1022,07KC1022111,92311302,07KC1022111,NaN,1282N,NaN,NaN,...,2007-03-06 00:00:00,MGTEST,2019-07-12 14:50:02,이승용,NaT,NaN,NaN,NaN,E,1510P
1,1173DK,07KC1022211A,2007KC1022,07KC1022211,92311302,07KC1022211,NaN,1282N,NaN,NaN,...,2007-03-07 00:00:00,MGTEST,2013-01-16 14:26:12,김덕림,NaT,NaN,NaN,NaN,E,1510P
2,1173DK,07KC1022311A,2007KC1022,07KC1022311,92311302,07KC1022311,NaN,1282N,NaN,NaN,...,2007-03-07 00:00:00,MGTEST,2020-03-18 22:52:12,김백수,NaT,NaN,NaN,NaN,E,1510P
3,1173DK,07KK1D22111,2007KK1D22,07KK1D22111,HAT052900,NaN,NaN,NaN,NaN,NaN,...,2011-09-29 09:14:46,강연철,2021-02-09 10:08:53,이승용,NaT,NaN,NaN,1055A,E,1510P
4,1173DK,09KA1B77311,2009KA1B77,09KA1B77311,HAN026620,NaN,NaN,1282N,NaN,NaN,...,2010-01-01 00:00:00,MGTEST,2011-05-30 22:34:02,김도경,NaT,NaN,NaN,NaN,E,1510P

In [29]:
# 수정자
data.drop("UPDCHR_NO", axis = 1, inplace=True)
# 생성자 
data.drop("CRTCHR_NO", axis = 1, inplace=True)

### 규격

In [41]:
data["PRDSPC_ID"].unique()

array(['SCP1-H-B', 'S45CM-S', '50CRV4M-S', 'S55CM-R', 'SK5M-S', 'S35CM-R',
       'S55CM-S', 'S20CM-R', 'SCP1-S-B', '50CRV4M-R', 'DK800',
       'SAE1070M-R', 'S45C-PA', 'SAE1552M-R', '16MNCR5M-S', 'SAE1055M-R',
       'CK75M2', 'SK85', 'SK85M-S', 'S20CM-S', 'S15CM-S', 'S70CM-AD',
       'SAE1074M-R', '16MNCR5M2', 'S45CM-R', 'S50CM-S', 'CK75M3',
       'SAE1045M-S', 'C80M', 'SK4M-S', 'SK85M-R', 'SK5M-R', 'SK4M-R',
       'H800LA', 'SAE1020', 'SPCC-1BP', 'SAE1010H', 'SPCC-2B',
       'SCP1-1/2H-B', '51CRV4M-S', 'SAE1050M-R', 'C67S', 'SNCM220M-S',
       'SNCM220-PA', 'S35CM-S', 'C75S-HT', 'SK85M', 'SCM430M-S',
       'SAE1010M-R', 'SAE1070M-S', '100CR6'], dtype=object)

### 특별 CYCLE 규격

## 일진엔티에스(주)

### 일진엔티에스1 : 625 , 625

In [30]:
iljin_1 = np.array(["SK2M-R(PPC)","SK4M-R(PPC)","SK5M-R(PPC)"])
iljin_1

array(['SK2M-R(PPC)', 'SK4M-R(PPC)', 'SK5M-R(PPC)'], dtype='<U11')

In [31]:
data[(data["PRDSPC_ID"] == iljin_1[0]) |(data["PRDSPC_ID"] == iljin_1[1]) | (data["PRDSPC_ID"] == iljin_1[2]) ]

Empty DataFrame
Columns: [BUS_CD, COIL_NO, LOT_NO, BASIC_COIL_NO, HOTCOI_NO, MOTCOI_NO, TRK_NO, EMG_CD, AFTEMG_CD, PKG_NO, MRGCOI_NO, PVSSTS_CD, PRVPRC_CD, PNSSTS_CD, PNSPRC_CD, AFTPRC_CD, BASPRC_CD, LASWRK_DT, LASPRC_CD, RSTPNT_ODN, RSTPRC_REM, AFTPRC_REM, PLNPRC_ID, CHGPRC_CD, DUM_YN, PRVLOT_NO, PRVCOI_NO, USGCHG_YN, USGCHG_CNT, USGCHG_DT, THK_LEN, WDT_LEN, LEN_LEN, WGT_WGT, IND_CD, OUD_LEN, GRD_CD, PURCOM_ID, RAWDIV_WGT, RAWSPC_ID, RAWSTL_CD, RAWTHK_LEN, RAWWDT_LEN, RAWLEN_LEN, RAW_WGT, SPC_NO, SALBRN_CD, CUS_ID, USR_ID, ORD_CD, PRDSPC_ID, PRD_CD, PRDKND_CD, STL_CD, STLDTL_CD, ORD_NO, ORD_SEQ, ORDTHK_LEN, ORDWDT_LEN, ORD_WGT, USG_CD, DLV_YMD, PKGMTH_CD, PKGMTH_YN, WGTDCS_CLS, NAXWGT_YN, PPL_TRK, FIRCRT_YMD, RSTHMAX_VAL, RSTHMIN_VAL, RSTCMAX_VAL, RSTCMIN_VAL, DIV_CD, SKP_QTY, MRG_CLS, PRCSPL_REM, CRMPLN_ODN, CRMRST_ODN, ANNPLN_ODN, ANNRST_ODN, WRKTRM_YMD, ENT_DT, ENTCHR_NO, OUT_DT, OUTCHR_ID, BRI_DT, BRICHR_ID, BRIRSN_CD, RET_DT, RETCHR_NO, RETRSN_CD, RET_WGT, SAMPCK_YN, PRDRESE_CD, PRDRESE_YMD, PRDRESE_NO, RESEND_YMD, RESENDCHR_NO, COIEND_CD, END_YN, ...]
Index: []

[0 rows x 113 columns]

### 일진엔티에스2 : 750, 700(표준)

In [32]:
iljin_2 = np.array(["SK4M-R","SK5M-R","SKS51M-R","SKS81M-R"])
iljin_2

array(['SK4M-R', 'SK5M-R', 'SKS51M-R', 'SKS81M-R'], dtype='<U8')

In [39]:
iljin2_data = data[(data["PRDSPC_ID"] == iljin_2[0]) |(data["PRDSPC_ID"] == iljin_2[1]) | (data["PRDSPC_ID"] == iljin_2[2]) ]
iljin2_data

,BUS_CD,COIL_NO,LOT_NO,BASIC_COIL_NO,HOTCOI_NO,MOTCOI_NO,TRK_NO,EMG_CD,AFTEMG_CD,PKG_NO,...,WRK_CD,INP_WGT,CRT_DT,UPD_DT,COILEND_DT,SEMIPKG_YN,SEMIPKG_CD,PKG_CD,LEV2SE_YN,ZON_CD
132,1173DK,22G13050111,2022G13050,22G13050111,HBF162820,22G13050111,1.0,1282N,1282N,NaN,...,1065A,0,2022-07-25 13:28:39,2022-09-15 02:46:12,NaT,NaN,NaN,1055A,E,1510P
133,1173DK,22G13053111,2022G13053,22G13053111,HBF162720,22G13053111,1.0,1282N,1282N,NaN,...,1065A,0,2022-07-27 10:21:28,2022-09-15 01:26:57,NaT,NaN,NaN,1055B,E,1510P
361,1173DK,22H130252111A,2022H13025,22H13025211,HBF072770,22H13025111,102.0,1282N,1282N,NaN,...,1065A,0,2022-09-02 04:54:38,2022-09-05 15:46:06,NaT,NaN,NaN,1055A,L,1510P
364,1173DK,22H13032111,2022H13032,22H13032111,HBF072850,22H13032111,1.0,1282N,1282N,NaN,...,1065A,0,2022-08-17 09:32:07,2022-09-03 08:55:11,NaT,NaN,NaN,1055C,E,1510P

###  PNSPRC_CD : 현공정코드
- AN10 : ANN 0차
- AN11 : ANN 1차
- AN12 : ANN 2차
- AN13 : ANN 3차

### ANN0차

In [36]:
iljin2_data[iljin2_data["PNSPRC_CD"] == "AN10"]

,BUS_CD,COIL_NO,LOT_NO,BASIC_COIL_NO,HOTCOI_NO,MOTCOI_NO,TRK_NO,EMG_CD,AFTEMG_CD,PKG_NO,...,WRK_CD,INP_WGT,CRT_DT,UPD_DT,COILEND_DT,SEMIPKG_YN,SEMIPKG_CD,PKG_CD,LEV2SE_YN,ZON_CD
361,1173DK,22H130252111A,2022H13025,22H13025211,HBF072770,22H13025111,102.0,1282N,1282N,NaN,...,1065A,0,2022-09-02 04:54:38,2022-09-05 15:46:06,NaT,NaN,NaN,1055A,L,1510P

### ANN1차이상

In [40]:
iljin2_data[(iljin2_data["PNSPRC_CD"] == "AN11") | (iljin2_data["PNSPRC_CD"] == "AN12") | (iljin2_data["PNSPRC_CD"] == "AN13")]

,BUS_CD,COIL_NO,LOT_NO,BASIC_COIL_NO,HOTCOI_NO,MOTCOI_NO,TRK_NO,EMG_CD,AFTEMG_CD,PKG_NO,...,WRK_CD,INP_WGT,CRT_DT,UPD_DT,COILEND_DT,SEMIPKG_YN,SEMIPKG_CD,PKG_CD,LEV2SE_YN,ZON_CD
132,1173DK,22G13050111,2022G13050,22G13050111,HBF162820,22G13050111,1.0,1282N,1282N,NaN,...,1065A,0,2022-07-25 13:28:39,2022-09-15 02:46:12,NaT,NaN,NaN,1055A,E,1510P
133,1173DK,22G13053111,2022G13053,22G13053111,HBF162720,22G13053111,1.0,1282N,1282N,NaN,...,1065A,0,2022-07-27 10:21:28,2022-09-15 01:26:57,NaT,NaN,NaN,1055B,E,1510P
364,1173DK,22H13032111,2022H13032,22H13032111,HBF072850,22H13032111,1.0,1282N,1282N,NaN,...,1065A,0,2022-08-17 09:32:07,2022-09-03 08:55:11,NaT,NaN,NaN,1055C,E,1510P