In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("ANN 재공현황.csv")
data.head()

,BUS_CD,COIL_NO,LOT_NO,BASIC_COIL_NO,HOTCOI_NO,MOTCOI_NO,TRK_NO,EMG_CD,AFTEMG_CD,PKG_NO,...,CRT_DT,CRTCHR_NO,UPD_DT,UPDCHR_NO,COILEND_DT,SEMIPKG_YN,SEMIPKG_CD,PKG_CD,LEV2SE_YN,ZON_CD
0,1173DK,07KC1022111A,2007KC1022,07KC1022111,92311302,07KC1022111,NaN,1282N,NaN,NaN,...,2007-03-06 0:00,MGTEST,2019-07-12 14:50,이승용,NaN,NaN,NaN,NaN,E,1510P
1,1173DK,07KC1022211A,2007KC1022,07KC1022211,92311302,07KC1022211,NaN,1282N,NaN,NaN,...,2007-03-07 0:00,MGTEST,2013-01-16 14:26,김덕림,NaN,NaN,NaN,NaN,E,1510P
2,1173DK,07KC1022311A,2007KC1022,07KC1022311,92311302,07KC1022311,NaN,1282N,NaN,NaN,...,2007-03-07 0:00,MGTEST,2020-03-18 22:52,김백수,NaN,NaN,NaN,NaN,E,1510P
3,1173DK,07KK1D22111,2007KK1D22,07KK1D22111,HAT052900,NaN,NaN,NaN,NaN,NaN,...,2011-09-29 9:14,강연철,2021-02-09 10:08,이승용,NaN,NaN,NaN,1055A,E,1510P
4,1173DK,09KA1B77311,2009KA1B77,09KA1B77311,HAN026620,NaN,NaN,1282N,NaN,NaN,...,2010-01-01 0:00,MGTEST,2011-05-30 22:34,김도경,NaN,NaN,NaN,NaN,E,1510P

In [4]:
data_copy = data.copy()

sorted_by_ANN = pd.DataFrame(data_copy.groupby(["PRDSPC_ID", "PNSPRC_CD"],as_index=False).size())
sorted_by_ANN

     PRDSPC_ID PNSPRC_CD  size
0       100CR6      AN10     2
1   16MNCR5M-S      AN10     2
2   16MNCR5M-S      AN11     6
3    16MNCR5M2      AN11     9
4    50CRV4M-R      AN11    34
..         ...       ...   ...
75     SK85M-S      AN12     1
76  SNCM220-PA      AN10     4
77  SNCM220M-S      AN11     7
78    SPCC-1BP      AN11    13
79     SPCC-2B      AN11     1

[80 rows x 3 columns]

In [5]:
special_test = pd.read_csv("special_cycle_test_data_csv.csv")
special_test_copy = special_test.fillna("-")
special_test_copy.rename(columns={ special_test_copy.columns[1] : 'PRDSPC_ID',
                                    special_test_copy.columns[2] : 'AN10',
                                    special_test_copy.columns[3] : 'AN11',
                                    special_test_copy.columns[4] : 'AN12',
                                    special_test_copy.columns[5] : 'AN13',}, inplace=True)
special_test_copy.set_index(['고객사','PRDSPC_ID'],inplace=True)
special_test_copy.head()

,,AN10,AN11,AN12,AN13
고객사,PRDSPC_ID,,,,
한국보그워너티에스,DK800,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용
UNIT TIDC INDIA,S700MC,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용
FAURECIA(CHINA) / BROSE CHINA,H800LA,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용,작업지시서 소둔 Cycle 적용
DYNAX CORP.,S55C-PA,-,620,-,-
한국보그워너티에스,S45CM-R,-,620,-,-

In [6]:
special_cycle_for_merge = pd.DataFrame(special_test_copy.stack()).reset_index()
special_cycle_for_merge.rename(columns={'level_2' : 'PNSPRC_CD', 0 : 'cycle'}, inplace=True)
special_cycle_for_merge

                     고객사  PRDSPC_ID PNSPRC_CD              cycle
0              한국보그워너티에스      DK800      AN10  작업지시서 소둔 Cycle 적용
1              한국보그워너티에스      DK800      AN11  작업지시서 소둔 Cycle 적용
2              한국보그워너티에스      DK800      AN12  작업지시서 소둔 Cycle 적용
3              한국보그워너티에스      DK800      AN13  작업지시서 소둔 Cycle 적용
4        UNIT TIDC INDIA     S700MC      AN10  작업지시서 소둔 Cycle 적용
..                   ...        ...       ...                ...
115  유신정밀공업(주) / (주)화진금속  50CRV4M-S      AN13                  -
116               엔에스하이텍    S45CM-R      AN10                750
117               엔에스하이텍    S45CM-R      AN11                  -
118               엔에스하이텍    S45CM-R      AN12                  -
119               엔에스하이텍    S45CM-R      AN13                  -

[120 rows x 4 columns]

In [7]:
merged_data = pd.merge(sorted_by_ANN, special_cycle_for_merge, on=['PRDSPC_ID', 'PNSPRC_CD'], how='left')
#merged_data = pd.merge(sorted_by_ANN, special_cycle_test_copy, left_on='PRDSPC_ID', right_on='제품 규격 코드',how='left')
merged_data = merged_data[['PRDSPC_ID', 'PNSPRC_CD', 'size', 'cycle', '고객사']]
merged_data

     PRDSPC_ID PNSPRC_CD  size    cycle                 고객사
0       100CR6      AN10     2  750*Max  (주)지에스앤티 / 한국엔에스케이
1   16MNCR5M-S      AN10     2      NaN                 NaN
2   16MNCR5M-S      AN11     6      NaN                 NaN
3    16MNCR5M2      AN11     9      NaN                 NaN
4    50CRV4M-R      AN11    34      NaN                 NaN
..         ...       ...   ...      ...                 ...
76     SK85M-S      AN12     1      NaN                 NaN
77  SNCM220-PA      AN10     4      NaN                 NaN
78  SNCM220M-S      AN11     7      NaN                 NaN
79    SPCC-1BP      AN11    13      NaN                 NaN
80     SPCC-2B      AN11     1      NaN                 NaN

[81 rows x 5 columns]